* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

li {
    color: brown;
    font-size: 30px;
    font-weight: 900;

}